<section>
  <div class="product">
    <img src="./assets/img/nestle.png" alt="Producto 1">
    <h2>Producto 1</h2>
    <p>Disfruta de la suavidad y el sabor único del chocolate Nestlé. Elaborado con los mejores ingredientes, este delicioso chocolate te hará sentirte indulgente y satisfecho. <br>Precio: $4.99</p>
  </div>

  <div class="product">
    <img src="./assets/img/lindor.png" alt="Producto 2">
    <h2>Producto 2</h2>
    <p>Sumérgete en la exquisita experiencia del chocolate Milka. Con su cremosa textura y sabor inigualable, este chocolate te transportará a un mundo de placer. ¡Déjate tentar por Milka! <br>Precio: $3.99</p>
  </div>

  <div class="product">
    <img src="./assets/img/milka.png" alt="Producto 3">
    <h2>Producto 3</h2>
    <p>Descubre la elegancia y sofisticación del chocolate Lindt. Con su distintivo sabor y calidad premium, Lindt es una elección perfecta para aquellos que buscan un placer refinado. <br>Precio: $5.99</p>
  </div>
</section>
